.carousel-customize{
    margin-top: 0.8%;
}

#contact img{
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
}

.contact-row{
    margin-top: 5%;
}

.movie-L .card .btn{
    margin: 5%;
}
/* @media screen and (min-width: 750px) {
    .carousel-customize {
        margin-top: 4.45%;
    }
} */
